= form_for(@form, data: {'abide'=>true}) do |student_form|
  = field student_form, :first_name, required: true

  = field student_form, :last_name, required: true


  = render partial:'shared/address_form', locals: {f: student_form}
  
  = submit_button("#{params[:action].to_s.titleize} Student")