%h1 Student Info

<<<<<<< HEAD
<<<<<<< HEAD
%ul
  - @students.each do |student|
    %li
      = link_to 'Create Student Profile', new_student_path(@student)
      = link_to 'See Profile', student_path(@student)




=======
= link_to 'Create Student Profile', new_student_path(@student)
=======
= add_button new_student_path
>>>>>>> 399c2e33825b5e8390e7ac6505e4bb33e5b2ed11

%ul
  - @students.each do |student|
    %li
      = link_to student.full_name, student
>>>>>>> 2401706b6730ff0a8ef2694c54469a12cd791369
