%h1= "Hey #{@student.first_name}!"

%p
  Welcome to College Path! We'll help organize your college planing because we know how important this step is for you! So far you have:
  %br
  %br
  = link_to "#{@student.goalpaths.count.humanize.capitalize} #{'goal'.pluralize(@student.goalpaths.count)}.", [@student, :goalpaths], class: 'button continue-journey'
%br
  = link_to "#{@student.student_schools.count.humanize.capitalize} #{'school'.pluralize(@student.student_schools.count)}.", [@student, :schools], class: 'button continue-journey'
%br 
  = link_to "#{@student.skills.count.humanize.capitalize} #{'skill'.pluralize(@student.skills.count)}.", [@student, :skills], class: 'button continue-journey'
%br
  = link_to "#{@student.test_scores.count.humanize.capitalize} #{'tests'.pluralize(@student.test_scores.count)}.", [@student, :test_scores], class: 'button continue-journey'
%br
  = link_to "#{@student.experiences.count.humanize.capitalize} #{'experience'.pluralize(@student.experiences.count)}.", [@student, :experiences], class: 'button continue-journey'
%br
  = link_to "#{@student.references.count.humanize.capitalize} #{'reference'.pluralize(@student.references.count)}.", [@student, :references], class: 'button continue-journey'
%br
  = link_to "#{@student.essays.count.humanize.capitalize} #{'essay'.pluralize(@student.essays.count)}.", [@student, :essays], class: 'button continue-journey'
%br
= back_button root_path
