= back_button students_path
%h1= "Hey #{@student.first_name}!"

%p
  So far you've picked out
  = link_to "#{@student.goalpaths.count.humanize} #{'goal'.pluralize(@student.goalpaths.count)}.", [@student, :goalpaths]
=link_to 'Experiences', [@student, :experiences]
