%h3=Test Information

%strong
  Date Taken:
= @test_score.date_taken
%br
%strong
  Name of Test:
= @test_score.test_type
%br
%strong
  Score:
= @test_score.score
%br
%br
= back_button [@student, :test_score]
= edit_button [:edit, @student, @test_score]
= delete_button [@student, @test_score]