%h1= @student.full_name
%h2= @experience.title
%h3= 'Description'
%p
  = @experience.description
  
= back_button [@student, :goalpaths]
= edit_button [:edit, @student, @experience]
= delete_button [@student, @experience]