%h1 
  Create Your School Here

= form_for(@school, data: {'abide'=>true}) do |s|
  = s.label :school_name
  = s.text_field :school_name
  %br
  = s.date_field :application_deadline, required: true, placeholder: 'Application Deadline'
  %br
  = s.text_field :average_sat, required: true, placeholder: 'Average SAT Score'
  %br
  = s.text_field :average_act, required: true, placeholder: 'Average ACT Score'
  %br
  = s.text_field :student_population, required: true, placeholder: 'Student Population'
  %br
  %div.state-field
    = s.label :state_id, class: 'hidden-for-small-up'
    = s.select :state_id, options_from_collection_for_select(State.all, :id, :name, proc {|state| state.id == @school.state_id}), {}, { class: 'select-state', required: true, data: {'selectize-standard' => true} }
    %small.error= 'You must select a state.'
  %br
  = s.label :comment
  = s.text_field :comment
  %br
  = s.text_field :comment, required: true, placeholder: 'Comment About School'
  %br
= submit_button("#{params[:action].to_s.titleize} Univeristy/School")
