%h1 
  Create Your School Here
%br
= form_for(@school, data: {'abide'=>true}) do |s|
  = s.text_field :school_name, required: true, placeholder: 'University Name'
  %br
  = s.date_field :application_deadline, required: true, placeholder: 'Application Deadline'
  %br
  = s.text_field :average_sat, required: true, placeholder: 'Average SAT Score'
  %br
  = s.text_field :average_act, required: true, placeholder: 'Average ACT Score'
  %br
  = s.text_field :student_population, required: true, placeholder: 'Student Population'
  %br
  = s.text_field :city, required: true, placeholder: 'City'
  %br
  = s.text_field :state, required: true, placeholder: 'State'
  %br
  = s.text_field :comment, required: true, placeholder: 'Comment About School'
  %br
= submit_button("#{params[:action].to_s.titleize} Univeristy/School")