%br
%br
%br
%strong
  School Name:
= @school.school_name
%br
%strong
  City:
= @school.city
%br
%strong
  State:
= @school.state
%br
%strong
  Application Deadline:
= @school.application_deadline
%br
%strong
  Average SAT:
= @school.average_sat
%br
%strong
  Average ACT:
= @school.average_act
%br
%strong
  Student Population:
= @school.student_population
%br
%strong
  Comment:
= @school.comment
%br
%br
=link_to "Edit School", edit_school_path(@school)
%br
=link_to "Delete School", school_path(@school), method: :delete, data: { confirm: "Are you sure you want to delete #{@school.school_name}"}
%br
= link_to "Return to All Schools", schools_path