%br
%br
%br
%strong
  School Name:
= @school.school_name
%br
%strong
  City:
= @school.city
%br
%strong
  State:
= @school.state
%br
%strong
  Application Deadline:
= @school.application_deadline
%br
%strong
  Average SAT:
= @school.average_sat
%br
%strong
  Average ACT:
= @school.average_act
%br
%strong
  Student Population:
= @school.student_population
%br
%br
= link_to "Return to All Schools", schools_path