.icon-bar.five-up
  %a.item
    = link_to "Home", root_path
  %a.item
    = link_to "Schools", schools_path
  %a.item
    = link_to "Students", students_path
  %a.item
    = link_to "Logout", destroy_user_session_path
  %a.item
    = link_to "Register", new_user_registration_path
  %a.item
    = link_to "Login", new_user_session_path